<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CreatinaApp</title>
  </head>
  <body class="w-screen h-screen bg-sky-100">
    <mat-toolbar class="h-1/5" color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>CreatinaApp</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <header class="bg-white w-full h-4/5 flex justify-center items-center">
      <img class="w-60 h-60" src="./assets/creatina.jpg" alt="" />
      <div class="h-full flex flex-col items-center justify-center">
        <h1 class="text-2xl font-bold">CreatinaApp</h1>
        <p>
          Descubra todas as ofertas da melhor loja de produtos saudáveis do
          Brasil!
        </p>

        <button class="w-1/3" mat-raised-button color="primary">
          Descobrir
        </button>
      </div>
    </header>
  </body>
</html>
